{% extends 'base.html.twig' %}

{% block title %}Home {{ name }}{% endblock %}

{% block body %}
<h1>Home {{ name }}</h1>

<ul>
    {% for berichten in bericht %}
        <li>
            {{ berichten }}
        </li>
    {% endfor %}
</ul>
{% endblock %}