{% extends 'base.html.twig' %}



{% block body %}
<h1>Test {{ name }}</h1>
<ul>
    {% for berichten in bericht %}
        <li>
            {{ berichten }}
        </li>
    {% endfor %}
</ul>
{% endblock %}